@model RockAnalysis.ControlVariables

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ControlVariables</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Porosity" class="control-label"></label>
                <input asp-for="Porosity" class="form-control" />
                <span asp-validation-for="Porosity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElementsCount" class="control-label"></label>
                <input asp-for="ElementsCount" class="form-control" />
                <span asp-validation-for="ElementsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinElementSize" class="control-label"></label>
                <input asp-for="MinElementSize" class="form-control" />
                <span asp-validation-for="MinElementSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxElementSize" class="control-label"></label>
                <input asp-for="MaxElementSize" class="form-control" />
                <span asp-validation-for="MaxElementSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgElementSize" class="control-label"></label>
                <input asp-for="AvgElementSize" class="form-control" />
                <span asp-validation-for="AvgElementSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сohesion" class="control-label"></label>
                <input asp-for="Сohesion" class="form-control" />
                <span asp-validation-for="Сohesion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CavernsVolume" class="control-label"></label>
                <input asp-for="CavernsVolume" class="form-control" />
                <span asp-validation-for="CavernsVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChanelsVolume" class="control-label"></label>
                <input asp-for="ChanelsVolume" class="form-control" />
                <span asp-validation-for="ChanelsVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Permeability" class="control-label"></label>
                <input asp-for="Permeability" class="form-control" />
                <span asp-validation-for="Permeability" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Binarisation" /> @Html.DisplayNameFor(model => model.Binarisation)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DeleteNoize" /> @Html.DisplayNameFor(model => model.DeleteNoize)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Seed" class="control-label"></label>
                <input asp-for="Seed" class="form-control" />
                <span asp-validation-for="Seed" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsArchived" /> @Html.DisplayNameFor(model => model.IsArchived)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
