@model NetCoreWeb.Models.GenerateImageRequest

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GenerateImageRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="pGGANId" class="control-label"></label>
                <input asp-for="pGGANId" class="form-control" />
                <span asp-validation-for="pGGANId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seed" class="control-label"></label>
                <input asp-for="Seed" class="form-control" />
                <span asp-validation-for="Seed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Porosity" class="control-label"></label>
                <input asp-for="Porosity" class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">

        <div id="stl_cont" style="various color and size stuff">Пример визуализации: </div>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
